/* Voilà markdown styling */
.jp-MarkdownOutput {
    font-size: 16px !important;
    max-width: 900px !important;
    margin: 0 auto !important;
}

/* Additional markdown elements styling */
.jp-MarkdownOutput h1 {
    font-size: 24px !important;
}

.jp-MarkdownOutput h2 {
    font-size: 20px !important;
}

.jp-MarkdownOutput p {
    line-height: 1.5 !important;
}
