/* Voilà markdown styling */
.jp-Cell, .jp-MarkdownCell {
    max-width: 70vw;
    margin: auto;
}

.jp-MarkdownOutput {
    font-size: 18px !important;
    max-width: 900px !important;
    margin: 0 auto !important;
}

/* Additional markdown elements styling */
.jp-MarkdownOutput h1 {
    font-size: 2rem !important;
}

.jp-MarkdownOutput h2 {
    font-size: 1.5rem !important;
}

.jp-MarkdownOutput p {
    line-height: 1.5 !important;
}
